server {
    # TODO use environment variable for port
    listen ${CLIENT_PORT};
    # listen ${CLIENT_PORT_SSL};
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}