global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "users"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["hello${USERS_URL}"]

  - job_name: "gh-connector"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["gh-connector:3000"]

  - job_name: "genai-python"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["genai-python:3001"]
